<html ng-app="NoteCreator">
 
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="style.css">
 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="app.js"></script>
 
</head>
 
<body>
   <div class="container-fluid"> 
      <div class="row">
         <div class="col-xs-4">
            <img src="http://www.allianzworldwidepartners.ro/corporate/images/logo-4.png" class="img-responsive">
         </div>
         <div class="col-xs-8">
            <h2>Note Creator</h2>
         </div>
      </div>
      <div class="row">
         <div class="col-xs-12">
       
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
               <li role="presentation" class="active"><a href="#cancellation" aria-controls="cancellation" role="tab" data-toggle="tab">Cancellation</a></li>
               <li role="presentation"><a href="#FNOL" aria-controls="FNOL" role="tab" data-toggle="tab">FNOL</a></li>
               <li role="presentation"><a href="#gralInquiry" aria-controls="gralInquiry" role="tab" data-toggle="tab">General Inquiry</a></li>
            </ul>
       
            <!-- Tab panes -->
            <div class="tab-content">
               <div role="tabpanel" class="tab-pane active" id="cancellation" ng-controller="CancellationCtrl">
                  <div class="panel-group" id="canc_accordion" role="tablist" aria-multiselectable="true">
                     <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="canc_polInfo">
                           <h4 class="panel-title">
                              <a role="button" data-toggle="collapse" data-parent="#canc_accordion" href="#collapse_canc_polInfo" aria-expanded="true" aria-controls="collapse_canc_polInfo">Policy Information</a>
                           </h4>
                        </div>
                        <div id="collapse_canc_polInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="canc_polInfo">
                           <div class="panel-body">
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-book" id="canc_pn"></span>
                                 <input type="text" class="form-control text-uppercase" aria-describedby="canc_pn" ng-model="data.pn" placeholder="Policy #">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-user" id="canc_phn"></span>
                                 <input type="text" class="form-control" aria-describedby="canc_phn" ng-model="data.phn" placeholder="PH's Name">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-envelope" id="canc_email"></span>
                                 <input type="text" class="form-control" aria-describedby="canc_email" ng-model="data.email" placeholder="E-mail">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-calendar" id="canc_dop"></span>
                                 <input type="text" class="form-control" aria-describedby="canc_dop" ng-model="data.dop" placeholder="Date of purchase">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-calendar" id="canc_depD"></span>
                                 <input type="text" class="form-control" aria-describedby="canc_depD" ng-model="data.depD" placeholder="Departure date">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-calendar" id="canc_retD"></span>
                                 <input type="text" class="form-control" aria-describedby="canc_retD" ng-model="data.retD" placeholder="Return Date">
                              </div> 
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="canc_cancDet">
                           <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#canc_accordion" href="#collapse_cancDet" aria-expanded="false" aria-controls="collapse_cancDet">Cancellation Details</a>
                           </h4>
                        </div>
                        <div id="collapse_cancDet" class="panel-collapse collapse" role="tabpanel" aria-labelledby="canc_cancDet">
                           <div class="panel-body">
                              <label ng-hide="true" for="canc_cancReason">Cancellation Reason:</label>
                              <select class="form-control" name="canc_cancReason" id="canc_cancReason" ng-options="option.reason for option in availableOptions track by option.id" ng-model="selectedOption"></select>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-usd" id="canc_amntRef"></span>
                                 <input type="text" class="form-control" aria-describedby="canc_amntRef" ng-model="data.price" placeholder="Refund amount">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-credit-card" id="canc_cardBrand"></span>
                                 <input type="text" class="form-control text-uppercase" aria-describedby="canc_cardBrand" ng-model="data.cardBrand" placeholder="Brand of the card">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-triangle-right" id="canc_l4d"></span>
                                 <input type="text" class="form-control" aria-describedby="canc_l4d" ng-model="data.l4d" placeholder="Last 4 digits">
                              </div>
                           </div>
                        </div>
                      </div>
                  </div>

                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title note">Note</h3>
                        <a class="navbar-right" href="#" ng-click="copy();"><span class="img-circle glyphicon glyphicon-copy"></span></a>
                        <a class="navbar-right" href="#" ng-click="clear();"><span class="img-circle glyphicon glyphicon-remove"></span></a> 
                     </div>
                     <div id="canc_note" class="panel-body">
                        <p>{{data.phn}} called in to cancel Policy #{{data.pn}} as {{selectedOption.exp}}. The Policy was purchased on {{data.dop}}. Coverage from {{data.depD}} to {{data.retD}}.</p>
                        <ul>
                           <li>Letter sent to: {{data.email}},</li>
                           <li>Amount refunded: ${{data.price}},</li>
                           <li>Refunded to a {{data.cardBrand}} that ends with {{data.l4d}}.</li>
                        </ul>
                        <p>Cancelled and sent fulfillment.</p>
                     </div>
                  </div>
               </div>
               <div role="tabpanel" class="tab-pane" id="FNOL" ng-controller="FNOLCtrl">
                  <div class="panel-group" id="fnol_accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="fnol_polInfo">
                           <h4 class="panel-title">
                              <a role="button" data-toggle="collapse" data-parent="#fnol_accordion" href="#collapse_fnol_polInfo" aria-expanded="true" aria-controls="collapse_fnol_polInfo">Policy Information</a>
                           </h4>
                        </div>
                        <div id="collapse_fnol_polInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="fnol_polInfo">
                           <div class="panel-body">
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-book" id="fnol_pn"></span>
                                 <input type="text" class="form-control text-uppercase" aria-describedby="fnol_pn" ng-model="data.pn" placeholder="Policy #">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-user" id="fnol_phn"></span>
                                 <input type="text" class="form-control" aria-describedby="fnol_phn" ng-model="data.phn" placeholder="PH's Name">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-calendar" id="fnol_dop"></span>
                                 <input type="text" class="form-control" aria-describedby="fnol_dop" ng-model="data.dop" placeholder="Date of purchase">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-calendar" id="fnol_depD"></span>
                                 <input type="text" class="form-control" aria-describedby="fnol_retD" ng-model="data.depD" placeholder="Departure date">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-calendar" id="fnol_retD"></span>
                                 <input type="text" class="form-control" aria-describedby="fnol_retD" ng-model="data.retD" placeholder="Return date">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon glyphicon-home" id="fnol_address"></span>
                                 <input type="text" class="form-control" aria-describedby="fnol_address" ng-model="data.address" placeholder="Address">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon glyphicon-earphone" id="fnol_phone"></span>
                                 <input type="text" class="form-control" aria-describedby="fnol_phone" ng-model="data.phone" placeholder="Phone">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-envelope" id="fnol_email"></span>
                                 <input type="text" class="form-control" aria-describedby="fnol_email" ng-model="data.email" placeholder="Email">
                              </div> 
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="fnol_claimDet">
                           <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#fnol_accordion" href="#collapse_fnolDet" aria-expanded="false" aria-controls="collapse_fnolDet">Claim Details</a>
                           </h4>
                        </div>
                        <div id="collapse_fnolDet" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fnol_claimDet">
                           <div class="panel-body">
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-calendar" id="fnol_dateFiled"></span>
                                 <input type="text" class="form-control text-uppercase" aria-describedby="fnol_dateFiled" ng-model="data.dateFiled" placeholder="FNOL date">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-calendar" id="fnol_incDate"></span>
                                 <input type="text" class="form-control text-uppercase" aria-describedby="fnol_incDate" ng-model="data.incDate" placeholder="Incurred date">
                              </div>
                              <label ng-hide="true" for="fnol_fnolBenefit">Claim benefit</label>
                              <select class="form-control" name="fnol_fnolBenefit" id="fnol_fnolBenefit" ng-options="option.name for option in benefits track by option.id" ng-model="selBen"></select>
                              <label ng-hide="true" for="fnol_fnolBenefit">Claim benefit</label>
                              <select class="form-control" name="fnol_fnolReason" id="fnol_fnolReason" ng-options="option.name for option in reason track by option.id" ng-model="selReas"></select>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon-usd" id="fnol_amntclaimed"></span>
                                 <input type="text" class="form-control" aria-describedby="fnol_amntclaimed" ng-model="data.amountClaimed" placeholder="Amount Claimed">
                              </div>
                              <div class="input-group">
                                 <span class="input-group-addon glyphicon glyphicon glyphicon-plus" id="fnol_addInfo"></span>
                                 <input type="text" class="form-control" aria-describedby="fnol_addInfo" ng-model="data.addInfo" placeholder="Additional information">
                              </div>
                           </div>
                        </div>
                      </div>
                  </div>

                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title note">Note</h3>
                        <a class="navbar-right" href="#" ng-click="copy();"><span class="img-circle glyphicon glyphicon-copy"></span></a>
                        <a class="navbar-right" href="#" ng-click="clear();"><span class="img-circle glyphicon glyphicon-remove"></span></a> 
                     </div>
                     <div id="fnol_note" class="panel-body">
                        <p>{{data.phn}} called in to file a claim, because {{selBen.exp}} due to {{selReas.exp}}.</p>
                        <p>I assisted the PH to file a claim, for which I confirmed that the next information on the Policy was correct:</p>
                        <ul>
                            <li>Policy #: {{data.pn}}</li>
                            <li>Name: {{data.phn}}</li>
                            <li>Date of purchase: {{data.dop}}</li>
                            <li>Covered period: {{data.depD}} - {{data.retD}}</li>
                            <li>Address: {{data.address}}</li>
                            <li>Phone: {{data.phone}}</li>
                            <li>Email: {{data.email}}</li>
                        </ul>
                        <p>Summary of claim:</p>
                        <ul>
                            <li>FNOL date: {{data.dateFiled}}</li>
                            <li>Incurred date: {{data.incDate}}</li>
                            <li>Amount Claimed: {{data.amountClaimed}}</li>
                            <li ng-hide="data.addInfo == '' ">It is worth noting that: {{data.addInfo}}</li>
                        </ul>
                        <p>The PH was advised of methods and timeframes to send us the required documentation. FNOL filed and fulfillment sent.</p>
                     </div>
                  </div>
               </div>
               <div role="tabpanel" class="tab-pane" id="gralInquiry" ng-controller="GralInqCtrl">
                   <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title">Call details</h3>
                     </div>
                     <div id="gral_note" class="panel-body">
                         <label ng-hide="true" for="gral_gralBenefit">Nature of the call</label>
                         <select class="form-control" name="gral_gralBenefit" id="gral_fnolBenefit" ng-model="selReason" ng-options="item for item in natCall"></select>
                         <div class="input-group">
                             <span class="input-group-addon glyphicon glyphicon-book" id="gral_pn"></span>
                             <input type="text" class="form-control text-uppercase" aria-describedby="gral_pn" ng-model="data.pn" placeholder="Policy #">
                         </div>
                         <div class="input-group">
                             <span class="input-group-addon glyphicon glyphicon-user" id="gral_phn"></span>
                             <input type="text" class="form-control" aria-describedby="gral_phn" ng-model="data.phn" placeholder="Caller's Name">
                         </div>
                         <div ng-switch on="selReason">
                            <div ng-switch-when="Nature of the call"></div>
                            <div ng-switch-when="Coverage question">
                                <p>{{cov_checked}}</p>
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-question-sign" id="gral_covered"></span>
                                    <input type="text" class="form-control" aria-describedby="gral_covered" ng-model="cov_checked" placeholder="Peril">
                                    <span class="input-group-addon">
                                        <input type="checkbox" ng-model>
                                    </span>
                                </div>
                            </div>
                            <div ng-switch-when="Claim follow-up">Home Span</div>
                            <div ng-switch-when="Modify Policy">Home Span</div>
                            <div ng-switch-when="Purchase insurance">Home Span</div>
                            <div ng-switch-default>default</div>
                         </div>
                     </div>
                  </div>
                   <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title">Note</h3>
                        <a class="navbar-right" href="#" ng-click="copy();"><span class="img-circle glyphicon glyphicon-copy"></span></a>
                        <a class="navbar-right" href="#" ng-click="clear();"><span class="img-circle glyphicon glyphicon-remove"></span></a>
                     </div>
                     <div id="gral_note" class="panel-body">
                         <p>{{data.phn}} called in to know if {{cov_reason}} is covered on this Policy. Advised that <span>{{ cov_checked === true ? "that would be covered by the Policy" : "unfortunately that is not covered by the Policy"}}</span></p>
                     </div>
                  </div>
               </div>
        
         </div>
      </div>
   </div>
 
</body>
 
</html>
