<html ng-app="NoteApplication">
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="style.css">
 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="app2.js"></script>
 
</head>
<body>
    <div ng-controller="GralCtrl" class="container-fluid">
        <div class="row">
             <div class="col-xs-4">
                <img src="http://www.allianzworldwidepartners.ro/corporate/images/logo-4.png" class="img-responsive">
             </div>
             <div class="col-xs-8">
                <h2>Note Creator</h2>
             </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <select class="form-control" ng-options="option.name for option in select.cTs track by option.id" ng-model="cT"></select>
                <div class="panel-group" id="accordion" role="tablist"  aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div  class="panel-heading" role="tab" id="polInfo">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#colPolInfo" aria-expanded="true" aria-controls="colPolInfo">Policy</a>
                            </h4>
                        </div>
                        <div id="colPolInfo" class="panel-collapse collapse in" role="tabpanel"  aria-labelledby="polInfo ">
                            <div class="panel-body">
                                <div ng-repeat="info in data track by $index">
                                    <div class="input-group">
                                        <span class="input-group-addon glyphicon glyphicon-book"></span>
                                        <input type="text" class="form-control" ng-model="info.pol.pN" placeholder="Policy">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon glyphicon glyphicon-user"></span>
                                        <input type="text" class="form-control" ng-model="info.pol.pH.name" placeholder="Name">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                        <input type="text" class="form-control" ng-model="info.pol.doP" placeholder="Date of Purchase">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                        <input type="text" class="form-control" ng-model="info.pol.depD" placeholder="Departure Date">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                        <input type="text" class="form-control" ng-model="info.pol.retD" placeholder="Return Date">
                                    </div>
                                </div>
                                <button class="btn btn-primary" ng-click="addOne()">Add One</button>
                                <button class="btn btn-danger" ng-hide="data.length<=1" ng-click="removeOne()">Remove One</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default">
                        <div  class="panel-heading" role="tab" id="contactInfo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#colConInfo"  aria-expanded="false" aria-controls="colConInfo">Contact Information</a>
                            </h4>
                        </div>
                        <div id="colConInfo" class="panel-collapse collapse" role="tabpanel"  aria-labelledby="contactInfo">
                            <div class="panel-body">
                                <div ng-repeat="info in data track by $index">
                                    <div class="input-group">
                                        <span class="input-group-addon glyphicon glyphicon-home"></span>
                                        <input type="text" class="form-control" ng-model="info.pol.pH.address" placeholder="Address">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon glyphicon glyphicon-earphone"></span>
                                        <input type="text" class="form-control" ng-model="info.pol.pH.phone" placeholder="Phone">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                                        <input type="text" class="form-control" ng-model="info.pol.pH.email" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default">
                        <div  class="panel-heading" role="tab" id="fnolInfo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#colFnolInfo"  aria-expanded="false" aria-controls="colFnolInfo">FNOL Information</a>
                            </h4>
                        </div>
                        <div id="colFnolInfo" class="panel-collapse collapse" role="tabpanel"  aria-labelledby="fnolInfo">
                            <div class="panel-body">
                                <div ng-repeat="info in data track by $index">
                                    <select class="form-control" ng-options="option.name for option in select.bens track by option.id" ng-model="data.fnol.benInfo.benefit.name"></select>
                                    <select class="form-control" ng-options="option.name for option in select.reas track by option.id" ng-model="data.fnol.benInfo.reason.name"></select>
                                    <div class="input-group">
                                        <span class="input-group-addon glyphicon glyphicon-book"></span>
                                        <input type="text" class="form-control" ng-model="info.fnol.benInfo.claimN" placeholder="Claim">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                        <input type="text" class="form-control" ng-model="info.fnol.filedD" placeholder="Filed date">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                        <input type="text" class="form-control" ng-model="info.fnol.incD" placeholder="Incurred date">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon glyphicon glyphicon-usd"></span>
                                        <input type="text" class="form-control" ng-model="info.fnol.benInfo.amountClaimed" placeholder="Amount Claimed">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
